name: Build and Deploy to AKS 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to Azure Container Registry
        run: az acr login --name rohitlabacr
    
      - name: Build and Push Docker Image
        run: |
          docker build -t rohitlabacr.azurecr.io/python-service:latest .
          docker push rohitlabacr.azurecr.io/python-service:latest
    
      - name: Set AKS Context
        uses: azure/set-aks-context@v3
        with:
          resource-group: rohit-lab
          cluster-name: aks-lab
    
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
    
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init
    
      - name: Terraform Apply 
        working-directory: ./terraform
        run: terraform apply -auto-approve 

      - name: Get Python Service pod IP
        run: |
          echo "Waiting for pod to be ready..."
          kubectl wait --for=condition=ready pod -l app=python-service --timeout=300s
          echo "Python Service Pod Details:"
          kubectl get pods -l app=python-service -o wide
          POD_IP=$(kubectl get pods -l app=python-service -o jsonpath='{.items[0].status.podIP}')
          echo "Pod IP: $POD_IP"    

      - name: Ping Python Service
        run: curl -f http://$POD_IP/ || exit 1